<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Administradores</title>
</head>
<body>
<h1>Lista de Administradores</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Contraseña</th>
        <th>Correo electrónico</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administrador : ${listaAdministradores}">
        <td th:text="${administrador.id}"></td>
        <td th:text="${administrador.nombreUsuario}"></td>
        <td th:text="${administrador.contrasena}"></td>
        <td th:text="${administrador.correoElectronico}"></td>
    </tr>
    </tbody>
</table>
<a href="/CrudRepo/CrearAdministradores">Crear nuevo administrador</a>
</body>
</html>